* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: raleway_f;
  src: url(../fonts/raleway-regular.woff2);
}
@font-face {
  font-family: raleway_f;
  src: url(../fonts/raleway-black.woff2);
  font-weight: 900;
}
body {
  background-color: #010101;
  font-family: raleway_f, sans-serif;
  line-height: 1.55;
}

.cards {
  height: 100vh;
  width: 100%;
  background-image: url(../img/forest.jpg);
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card {
  width: 85%;
  height: 70%;
  background-color: #0009;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 10% 1fr 10% 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  margin-top: 100px;
  border-radius: 10px;
  -webkit-box-shadow: 0px -14px 47px 23px rgba(0, 35, 141, 0.39) inset;
  -moz-box-shadow: 0px -14px 47px 23px rgba(0, 35, 141, 0.39) inset;
  box-shadow: 0px -14px 47px 23px rgba(0, 0, 0, 0.4) inset;
}

.img__title {
  grid-area: 1 / 2 / 2 / 3;
  color: #fff;
  text-align: center;
  margin: 5% 0 5% 0;
}

.title__about {
  grid-area: 1 / 1 / 2 / 2;
  color: #fff;
  text-align: center;
  margin: 5% 0 5% 0;
}

.map__title {
  grid-area: 3 / 1 / 4 / 2;
  color: #fff;
  text-align: center;
  margin: 2% 0 1% 0;
}

.card_img {
  grid-area: 2 / 2 / 5 / 3;
  background-image: url(../img/skopa.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 90%;
  justify-self: center;
  align-self: center;
  height: 88%;
  margin: 5% 5% 10% 0;
}

.card_title {
  grid-area: 2 / 1 / 3 / 2;
  font-size: large;
  margin: 2% 0 0 30px;
  align-self: end;
  background-color: #4ea84b87;
  text-align: center;
  border-radius: 10px;
  color: #fff;
}

.card_map {
  grid-area: 4 / 1 / 5 / 2;
  background-image: url(../img/640px-Wiki-Pandion_haliaetus.png);
  background-position: inherit;
  background-repeat: no-repeat;
  width: 95%;
  justify-self: end;
  align-self: start;
  height: 83%;
  border-radius: 10px;
}

.berkut {
  background-image: url(../img/berkut.png);
  background-size: contain;
}

.berkut_area {
  background-image: url(../img/640px-AquilaChrysaetosIUCNver2018_2.png);
  background-position: center;
}

.stork {
  background-image: url(../img/black_stork.png);
  background-size: contain;
}

.stork_area {
  background-image: url(../img/640px-CiconiaNigraIUCN2019_2.png);
  background-position: center;
}